*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0F0D13;
    font-family: 'Roboto', sans-serif;
}

.row{
    display: flex;
    gap: 28.81px;
    background-color: #2A2141;
    margin-bottom: 28px;
    
}

.firstCard .buttons img,
.secondCard .buttons img,
.thirdCard .buttons img{
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.box{
    height: 266.68px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.title{
    font-size: 24px;
    margin-bottom: 9.6px;
}

span{
    font-weight: 400;
    font-size: 19.21px;
    opacity: 0.67;
}

.title, span, .timer{
    color: #E1E1E6;
    background-color: #2A2141;
}

.firstCard{
    padding: 45px;
    background-color: #2A2141;
    border-radius: 9.60297px;
}

.firstCard .songCover img{
    width: 189.66px;
}

.firstCard .progressBar{
    margin-bottom: 9.6px;
}

.firstCard .buttons,
.firstCard .details,
.firstCard .songCover{
    margin-bottom: 29px;
    background-color: #2A2141;
    color: #E1E1E6;
}

.firstCard .buttons{
    display: flex;
    justify-content: space-between;
}


.buttons, img{
    background-color: #2A2141;
}

.firstCard .progressBar{
    position: relative;
    background-color: #2A2141;
}

.firstCard .progressBar .progressTotal,
.firstCard .progressBar .remainingprogress{
    border: 4px solid #D9D9D9;
    border-radius: 9.60297px;
}

.firstCard .progressBar .progressTotal{
    opacity: 0.3;
    position: inherit;
    position: relative;
    width: 100%;
}

.firstCard .progressBar .remainingprogress{
    position: absolute;
    top: 0;
    width: 165px;
}

.firstCard .timer{
    display: flex;
    justify-content: space-between;
}

.timer span{
    font-size: 14px;
    color: #C4C4CC;
}





/* Second Card */

.secondCard{
    padding: 28.81px;
    background-color: #2A2141;
    border-radius: 9.60297px;
    margin-bottom: 32px;
}

.secondCard .songCover{
    background-color: #2A2141;
}

.secondCard .songCover img{
    width: 84.03px;
    border-radius: 6px;
}

.secondCard .details{
    display: flex;
    flex-direction: column;
    background-color: #2A2141;
}

.secondCard .buttons{
    display: flex;
    justify-content: space-between;
    padding: 0 57.32px 0 56.42px;
    margin-bottom: 29px;
}


.secondCard .progressBar{
    position: relative;
    background-color: #2A2141;
}

.secondCard .progressBar .progressTotal,
.secondCard .progressBar .remainingprogress{
    border: 4px solid #D9D9D9;
    border-radius: 9.60297px;
}

.secondCard .progressBar .progressTotal{
    opacity: 0.3;
    position: inherit;
    position: relative;
    width: 100%;
}

.secondCard .progressBar .remainingprogress{
    position: absolute;
    top: 0;
    width: 261.08px;
}

.secondCard .timer{
    margin-top: 9.6px;
    display: flex;
    justify-content: space-between;
}

/* Third Card */
.thirdCard{
    padding: 28.81px;
    background-color: #2A2141;
    border-radius: 9.6px;
}

.thirdCard .songCover{
    background-color: #2A2141;
}

.thirdCard .songCover img{
    width: 84.03px;
    border-radius: 6px;
}

.thirdCard .details{
    background-color: #2A2141;
}

.thirdCard .buttons{
    display: flex;
    justify-content: space-between;
    padding: 0 57.32px 0 56.42px;
}
